html, body {
    height: 100%;
    margin: 0;
}
.CoinPage{
    display: flex;
    background-color: #14161a;
    color: white;
    padding-top: 25px;
    min-height: calc(100vh - 85px);

}
.CoinPage-left{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid grey;
    padding: 0px 24px;
}
.Coin-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.Coin-name{
    margin: 0%;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;

}
.Coin-des{
    margin: 0%;
    font-size: 1.13rem;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}
.Coin-detail{
    width: 100%;
    display:flex;
    flex-direction: column;
}
.Coin-rank{
    display: flex;
    margin-bottom: 20px;
}
.Coin-currP{
    display: flex;
    margin-bottom: 20px;
 }
 .Coin-marC{
     display: flex;
     margin-bottom: 20px;
  }
.Demand{
    font-size: 1.5rem;
    margin: 0%;
    font-weight: bold;
}
.Value{
    font-size: 1.5rem;
    margin: 0%;
}
.CoinPage-right{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    padding: 25px;
    color: white;
    position: relative;
}
.chart-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1024px) {
    .CoinPage{
        flex-direction: column;
    }
    .CoinPage-left{
      width: auto;
      border-right: none;
    }
    .CoinPage-right{
        width: 90%;
        height: 50vh;
    }
    
}

 
