.carousel{
    height: 400px;
    color: white;
    background-image: url("../images/banner2.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header1{
    font-size: 3.75rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.detail{
     color: darkgray;
}
.images-content{
    margin-top: 60px;
    width: 80%;
}
.image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-Des{
    margin: 0%;
    color: white;
}
.CoinTable-BG{
    background-color: rgba(0, 0, 0, 0.89);
}
.CoinTable-content{
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.custom-textfield{
    width: inherit;
}
.custom-textfield input {
    color: white; /* Change text color */
  }
  
  .custom-textfield label {
    color: white; /* Change label color */
  }
  
  .custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Change border color */
  }
  
  .custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: lightgray; /* Change border color on hover */
  }
  
  .custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: lightblue; /* Change border color when focused */
  }
  .table-heading{
    display: flex;
    width: inherit;

    background-color: gold;
    color: black;
    font-weight: bold;
    justify-content:space-around;
    border-radius: 5px 5px 0px 0px;
  }
 .table{
    color: wheat;
    display: flex;
    flex-direction: column; 
    width: inherit;
     }
.table-content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
}