.carousel {
    height: 400px;
    color: white;
    background-image: url("../images/banner2.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header1 {
    font-size: 3.75rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.detail {
    color: darkgray;
}

.images-content {
    margin-top: 60px;
    width: 80%;
    cursor: pointer;
}
.table-Des {
    margin: 0%;
    font-size:40px;
    font-weight: 400;
    color: white;
}

.CoinTable-BackGround {
    background-color: rgba(0, 0, 0, 0.89);
}

.CoinTable-content {
    margin: auto;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.custom-textfield {
    width: inherit;
}

.custom-textfield input {
    color: white;
}

.custom-textfield label {
    color: white;
}

.custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: lightgray;
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: lightblue;
}

.table-heading {
    display: flex;
    width: inherit;
    background-color: gold;
    color: black;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}
.table {
    color: wheat;
    display: flex;
    flex-direction: column;
    width: inherit;
    
}

.table-content {
    display: flex;
    border-bottom: 1px solid rgba(81, 81, 81, 1);
    align-items: center;
    padding: 16px;
    color: white;
    
}
.table-content:hover{
    cursor: pointer;
    background: color #131111;
}
.heading1 {
    width: 40%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.heading2 {
    width: 20%;
    text-align: end;
}
.heading3 {
    width: 20%;
    text-align: end;
    padding-right: 10px;
}
.heading1-content {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.no-underline {
    text-decoration: none;
    color: inherit; /* This will ensure the link inherits the color of its parent element */
  }
  @media screen and (max-width:480px) {
    .header1 {
        font-size: 2.5rem;
    }
    .detail{
        text-align: center;
    }
    .table-Des{
        font-size: 32px;
        text-align: center;
    }
}
