.header{
    color: gold;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.89);
    position: static;
    font-size: 20px;
    padding: 10px 0px;
}
.Icon{
    font-size: 30px;
}
.Icon:hover{
    cursor: pointer;
    color: antiquewhite;
}
.logo{
    margin: 0px;
}
.logo:hover{
    cursor: pointer;
  }
